<section class="about_section layout_padding">
	<div class="container">
		<div class="heading_container heading_center">
			<h2>About <span>Us</span></h2>

			<div class="row">
				<div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img6.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Tomas Gutierrez"
							>
								Tomas Gutierrez
							</h2>
							<p class="card-text">
								I'm a Systems Engineering student with a keen
								passion for programming and database
								development. My academic and professional
								journey revolves around honing robust skills in
								designing, implementing, and optimizing computer
								systems, along with adept data management.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="https://github.com/TomasGutierrez462" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="https://www.linkedin.com/in/tomas-gutierrez-455758269" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img5.jpg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Alexander Ruidias"
							>
								Alexander Ruidias
							</h2>
							<p class="card-text">
								Another exciting bit of representative
								placeholder content. This time, we've moved on
								to the second column.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="#" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="#" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img4.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Camilo Perez"
							>
								Camilo Perez
							</h2>
							<p class="card-text">
								And lastly this, the third column of
								representative placeholder content.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="#" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="#" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img1.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Wilman Jimenez"
							>
								Wilman Jimenez
							</h2>
							<p class="card-text">
								On life's stage, shines a fearless soul who
								lives on the edge. Passionate about soccer and
								sports, this individual radiates energy in every
								move. Additionally, they find fascination in
								advanced mathematics and physics, where they
								constantly challenge their mind. A firm believer
								in hard work, this life warrior dives into every
								challenge with courage and determination,
								proving that with effort and dedication.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="https://github.com/Wilmant2021" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="https://www.linkedin.com/in/wilman-jimenez-teran-a5572b232/" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img2.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Keiner Alvarado"
							>
								Keiner Alvarado
							</h2>
							<p class="card-text">
								Dynamic Systems Engineer adept in crafting
								innovative desktop and Android applications,
								orchestrating seamless database solutions, and
								sculpting engaging web experiences.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a
									href="https://github.com/keiner5212"
									class="page-button"
								>
									<i class="fab fa-github"></i> GitHub
								</a>
								<a
									href="https://www.linkedin.com/in/keiner-jose-alvarado-96245a232/"
									class="page-button"
								>
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
					<div class="card">
						<img
							src="../../../assets/img/img3.jpeg"
							class="card-img-top"
							alt=""
						/>
						<div class="card-body">
							<h2
								class="card-title fw-normal"
								title="Sebastian Hernandez"
							>
								Sebastian Hernandez
							</h2>
							<p class="card-text">
								And lastly this, the third column of
								representative placeholder content.
							</p>
							<div
								class="d-flex justify-content-around align-items-center mt-2"
							>
								<a href="#" class="page-button">
									<i class="fab fa-github"></i> GitHub
								</a>
								<a href="#" class="page-button">
									<i class="fab fa-linkedin"></i> LinkedIn
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
