<div class="container team_section">
	<h2>Developer <span>Team</span></h2>
	<div class="row mt-4">
		<div class="col">
			<h2>Product Owner</h2>
			<ul class="list-group">
				<li class="list-group-item">Sebastian Hernández</li>
			</ul>
		</div>
		<div class="col">
			<h2>Scrum Master</h2>
			<ul class="list-group">
				<li class="list-group-item">Wilman Jiménez</li>
			</ul>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<h2>Team Developers</h2>
			<ul class="list-group">
				<li class="list-group-item">Keiner Alvarado</li>
				<li class="list-group-item">Tomas Gutiérrez</li>
				<li class="list-group-item">Camilo Pérez</li>
				<li class="list-group-item">Alexander Ruidíaz</li>
			</ul>
		</div>
	</div>
</div>
