/*team section */
.team_section {
    text-align: center;
    background: rgb(0, 32, 74);
    background: linear-gradient(0deg, rgba(0, 32, 74, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

h2{
    margin-top: 90px;
    display: block;
    text-align: center;
    & span{
        color: #00bbf0;
    }
}

.list-group-item{
    background-color: #f5f5f5b0;
}