<footer class="info_section layout_padding2">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 info_col">
				<div class="info_contact">
					<h4>
						Address
					</h4>
					<div class="contact_link_box">
						<a href="https://goo.gl/maps/tad2rQS5Jqj">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<span>
								Location: Carrera 32 No 22 – 08 Santa Marta
								D.T.C.H. - Colombia. Código Postal No. 470004
							</span>
						</a>
						<p class="p-0 m-2">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>
								01 8000 180 504. PBX: (57 - 5) 4381000 - 4365000
							</span>
						</p>
						<a href="mailto:contacto@unimagdalena.edu.co">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>
								contacto&#64;unimagdalena.edu.co
							</span>
						</a>
					</div>
				</div>
				<div class="info_social">
					<a href="https://www.facebook.com/UniversidadDelMagdalena/">
						<i class="fa-brands fa-facebook-f"></i>
					</a>
					<a href="https://twitter.com/unimagdalena">
						<i class="fa-brands fa-twitter"></i>
					</a>
					<a href="https://www.linkedin.com/school/unimagdalena/">
						<i class="fa-brands fa-linkedin-in"></i>
					</a>
					<a href="https://www.instagram.com/unimagdalena/">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 info_col">
				<div class="info_detail">
					<h4>
						Info
					</h4>
					<p>
						Nuestra plataforma web ofrecerá una interfaz intuitiva y
						fácil de usar, permitiendo a estudiantes y profesores
						realizar reservas de salas de manera ágil y eficiente.
						Además, se incluirán funcionalidades adicionales para la
						gestión de horarios, notificaciones y seguimiento de
						reservas, garantizando así una experiencia completa y
						satisfactoria para todos los usuarios.
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-2 mx-auto info_col">
				<div class="info_link_box">
					<h4>
						Links
					</h4>
					<div class="info_links">
						<a class="active" href="/">Home</a>
						<a class="nav-link" href="/about">About</a>
						<a class="nav-link" href="/swebok">Swebok</a>
						<a class="nav-link" href="/lifecycle">Lifecycle</a>
						<a class="nav-link" href="/scrum-team">Team</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<!-- end info section -->
