<app-header></app-header>
<main class="error-section">
	<div class="error-image">
		<img
			src="../../../assets/img/NotFound.svg"
			alt="404"
			height="350px"
			width="350px"
		/>
	</div>
	<div class="error-content">
		<div class="error-message">
			<h1>404</h1>
			<h2>UH OH! You're lost.</h2>
			<p>
				The page you are looking for does not exist. How you got here is
				a mystery. But you can click the button below to go back.
			</p>
		</div>
		<button class="error-button">
			<a href="/" class="error-link">
				HOME
			</a>
		</button>
	</div>
</main>
