<app-header></app-header>
<div class="container marketing">
	>

	<div class="row featurette">
		<div class="col-md-7">
			<h1 class="featurette-heading fw-normal lh-1">
				Requisitos de software
			</h1>
			<p>
				Los requisitos de software son la base fundamental para
				cualquier proyecto de desarrollo. Comprende la actividad de
				identificar, analizar y documentar las necesidades y
				expectativas de los usuarios, así como los requisitos
				funcionales y no funcionales del sistema a construir. Este
				proceso implica entender el problema que se desea resolver, las
				funcionalidades que deben estar presentes en el sistema y las
				restricciones bajo las cuales debe operar. Los requisitos son
				esenciales para guiar el diseño, la implementación y las pruebas
				del software.
			</p>
		</div>
		<div class="col-md-5">
			<img
				src="../../../assets/img/requisitos.jpg"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h1 class="featurette-heading fw-normal lh-1">
				Diseño de software
			</h1>
			<p>
				El diseño de software se refiere al proceso de transformar los
				requisitos de un sistema en una representación detallada que
				describe cómo el software funcionará. Este proceso incluye la
				definición de la arquitectura del sistema, la identificación de
				los módulos y componentes, así como la especificación de las
				interfaces y la estructura de datos. Un buen diseño busca
				maximizar la eficiencia, la mantenibilidad, la escalabilidad y
				la reutilización del software, al mismo tiempo que garantiza que
				cumpla con los requisitos establecidos.
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img
				src="../../../assets/img/diseño.png"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7">
			<h1 class="featurette-heading fw-normal lh-1">
				Construcción de software
			</h1>
			<p>
				La construcción de software es el proceso de transformar los
				diseños y especificaciones del software en código ejecutable.
				Implica la implementación de algoritmos, la codificación de las
				funciones y la integración de los diferentes componentes del
				sistema. Durante esta fase, se realizan pruebas unitarias para
				garantizar que cada parte del software funcione como se espera.
				La construcción de software es una actividad crítica que asegura
				que el sistema se desarrolle de acuerdo con los requisitos y el
				diseño establecido.
			</p>
		</div>
		<div class="col-md-5">
			<img
				src="../../../assets/img/construccion.png"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h1 class="featurette-heading fw-normal lh-1">
				Pruebas de software
			</h1>
			<p>
				Las pruebas de software son esenciales para garantizar la
				calidad y fiabilidad del sistema desarrollado. Este proceso
				implica verificar y validar el software para detectar errores y
				asegurar que cumpla con los requisitos definidos. Las pruebas
				pueden incluir pruebas funcionales para verificar las
				funcionalidades del sistema, pruebas de rendimiento para evaluar
				su capacidad bajo diferentes cargas, pruebas de seguridad para
				identificar vulnerabilidades, entre otras. Las pruebas son un
				paso crítico antes de la entrega del software al cliente.
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img
				src="../../../assets/img/test.png"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7">
			<h1 class="featurette-heading fw-normal lh-1">
				Mantenimiento de software
			</h1>
			<p>
				El mantenimiento de software es el proceso de realizar cambios y
				mejoras en un sistema de software después de su entrega inicial.
				Esto incluye la corrección de errores, la adaptación a cambios
				en los requisitos, la optimización de la performance y la
				incorporación de nuevas funcionalidades. El mantenimiento es una
				etapa crucial en el ciclo de vida del software, ya que asegura
				que el sistema siga siendo útil y efectivo a lo largo del
				tiempo.
			</p>
		</div>
		<div class="col-md-5">
			<img
				src="../../../assets/img/maintenance.png"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h1 class="featurette-heading fw-normal lh-1">
				Gestión de la configuración
			</h1>
			<p>
				La gestión de la configuración es el proceso de identificar y
				controlar los elementos que componen un sistema de software.
				Esto incluye la gestión de versiones del código fuente, la
				documentación, las herramientas y los recursos utilizados en el
				desarrollo. La gestión de la configuración garantiza que se
				mantenga la integridad del sistema, se pueda revertir a
				versiones anteriores si es necesario y se puedan realizar
				cambios de manera controlada y coordinada.
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img
				src="../../../assets/img/management.jpg"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7">
			<h1 class="featurette-heading fw-normal lh-1">
				Gestión de la Ingeniería de Software
			</h1>
			<p>
				La gestión de la ingeniería de software se enfoca en planificar,
				organizar y controlar los recursos y actividades involucrados en
				el desarrollo de software. Esto incluye la gestión de proyectos,
				la estimación de tiempos y costos, la asignación de tareas y la
				coordinación de equipos de trabajo. La gestión eficaz de la
				ingeniería de software es fundamental para garantizar que los
				proyectos se completen dentro del tiempo y presupuesto
				previstos, cumpliendo con los requisitos y estándares de calidad
				establecidos.
			</p>
		</div>
		<div class="col-md-5">
			<img
				src="../../../assets/img/ing-management.jpg"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h1 class="featurette-heading fw-normal lh-1">
				Proceso de Ingeniería de Software
			</h1>
			<p>
				El proceso de ingeniería de software describe las diferentes
				metodologías, modelos y enfoques utilizados para desarrollar
				software de manera sistemática y eficiente. Esto incluye modelos
				en cascada, ágil, prototipado, entre otros. Cada proceso tiene
				sus propias fases, actividades y roles definidos para guiar el
				desarrollo del software desde la concepción hasta la entrega y
				mantenimiento. Comprender y aplicar el proceso de ingeniería de
				software adecuado es esencial para el éxito de un proyecto de
				desarrollo.
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img
				src="../../../assets/img/process.jpg"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7">
			<h1 class="featurette-heading fw-normal lh-1">
				Herramientas y métodos de la Ingeniería de Software
			</h1>
			<p>
				Las herramientas y métodos de la ingeniería de software son los
				recursos y técnicas utilizados para desarrollar, probar y
				mantener el software. Esto incluye herramientas de desarrollo
				como IDEs (Entornos de Desarrollo Integrados), sistemas de
				control de versiones como Git, lenguajes de programación,
				frameworks, metodologías de diseño como UML (Lenguaje de
				Modelado Unificado), entre otros. Utilizar las herramientas y
				métodos adecuados puede mejorar la productividad, calidad y
				eficiencia del desarrollo de software.
			</p>
		</div>
		<div class="col-md-5">
			<img
				src="../../../assets/img/tools.jpg"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h1 class="featurette-heading fw-normal lh-1">
				Calidad del software
			</h1>
			<p>
				La calidad del software se refiere a la medida en que el
				software satisface los requisitos, es fiable, eficiente y fácil
				de mantener. Esto incluye aspectos como la robustez, la
				usabilidad, la escalabilidad y la seguridad del software.
				Asegurar la calidad del software implica realizar pruebas
				exhaustivas, revisión de código, análisis estático, entre otras
				técnicas. La calidad del software es esencial para garantizar la
				satisfacción del cliente y el éxito del proyecto.
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img
				src="../../../assets/img/quality.png"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7">
			<h1 class="featurette-heading fw-normal lh-1">
				Práctica profesional de la Ingeniería de Software
			</h1>
			<p>
				La práctica profesional de la ingeniería de software se centra
				en los aspectos éticos, legales y profesionales relacionados con
				el desarrollo de software. Esto incluye el cumplimiento de
				estándares éticos, respeto por la privacidad y seguridad de los
				datos, responsabilidad social y profesionalismo en la conducta.
				Los ingenieros de software deben seguir prácticas éticas y
				legales para garantizar la integridad y confiabilidad del
				software que desarrollan.
			</p>
		</div>
		<div class="col-md-5">
			<img
				src="../../../assets/img/practice.png"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>

	<hr class="featurette-divider" />

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h1 class="featurette-heading fw-normal lh-1">
				Economía de la Ingeniería de Software
			</h1>
			<p>
				La economía de la ingeniería de software se refiere a los
				aspectos financieros y económicos relacionados con el desarrollo
				de software. Esto incluye la estimación de costos, análisis de
				inversiones, retorno de inversión (ROI) y evaluación de riesgos.
				Comprender la economía de la ingeniería de software es esencial
				para tomar decisiones informadas sobre la viabilidad y
				rentabilidad de un proyecto de desarrollo de software.
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img
				src="../../../assets/img/economy.jpg"
				width="500"
				height="500"
				alt=""
			/>
		</div>
	</div>
</div>

<app-footer></app-footer>
