<app-header></app-header>
<div class="row container lifecycle-section">
  <h2>The <span>Lifecycle</span></h2>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <img src="../../../assets/img/cascada.jpg" class="card-img-top" alt="Modelo de Cascada">
      <div class="card-body">
        <h5 class="card-title">Modelo de Cascada</h5>
        <p class="card-text">El modelo de cascada es el modelo de paradigma más simple en desarrollo de software.
          Sigue un modelo en que las fases del SDLC funcionarán una detrás de la otra de forma lineal. Lo que significa que solamente cuando la primera fase se termina se puede empezar con la segunda, y así progresivamente.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <img src="../../../assets/img/repetitivo.jpg" class="card-img-top" alt="Modelo Repetitivo">
      <div class="card-body">
        <h5 class="card-title">Modelo Repetitivo</h5>
        <p class="card-text">Este modelo guía el proceso de desarrollo de software en repeticiones.
          Proyecta el proceso de desarrollo de forma cíclica repitiendo cada paso después de cada ciclo en el proceso de SDLC.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <img src="../../../assets/img/spiral.jpg" class="card-img-top" alt="Modelo en Espiral">
      <div class="card-body">
        <h5 class="card-title">Modelo en Espiral</h5>
        <p class="card-text">El modelo en espiral es una combinación de ambos modelos, el repetitivo y uno del modelo SDLC.
          Se puede ver como si se combina un modelo de SDLC combinado con un proceso cíclico (modelo repetitivo).</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <img src="../../../assets/img/v.jpg" class="card-img-top" alt="Modelo V">
      <div class="card-body">
        <h5 class="card-title">Modelo V</h5>
        <p class="card-text">El mayor inconveniente del modelo de cascada es que solo se pasa a la siguiente fase cuando se completa la anterior, por tanto no es posible volver atrás si se encuentra algún error en las etapas posteriores.
          El Modelo V aporta opciones de evaluación del software en cada etapa de manera inversa.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card">
      <img src="../../../assets/img/big bang.jpg" class="card-img-top" alt="Modelo Big Bang">
      <div class="card-body">
        <h5 class="card-title">Modelo Big Bang</h5>
        <p class="card-text">Este modelo es el modelo con la forma más simple. Requiere poca planificación, mucha programación y también muchos fondos.
          Este modelo se conceptualiza alrededor de la teoría de creación del universo ‘Big Bang’. Tal como cuentan los científicos,
          después del big bang muchas galaxias, planetas y estrellas evolucionaron.
          De la misma manera, si reunimos muchos fondos y programación, quizá podemos conseguir el mejor producto de software.</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>