.input-group-prepend *{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-prepend{
    width: 40px;
}

.input-group{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.form-group{
    margin-bottom: 20px;
}

form{
    width: 80%;
}

input{
    min-width: calc(100% - 40px) !important;
}

.card-body{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}