<app-header></app-header>
<div class="container">
        <h1>Reserva tu Computador</h1>
        <div class="computer-grid">
            <div class="computer-card">
                <img src="../../../assets/img/laptop.jpg" alt="Computador 1">
                <h2>Computador 1</h2>
                <label for="horario1">Selecciona un horario:</label>
                <select id="horario1">
                    <option value="6-8am">6-8am</option>
                    <option value="8-10am">8-10am</option>
                    <option value="10-12am">10-12am</option>
                    <option value="12-2pm">12-2pm</option>
                    <option value="2-4pm">2-4pm</option>
                    <option value="4-6pm">4-6pm</option>
                    <option value="6-8pm">6-8pm</option>
                    <option value="8-10pm">8-10pm</option>
                </select>
                <button name="submit" type="button" class="reserve-btn" onclick="window.location.href='/database-tables'">Apartar</button>
            </div>
            <div class="computer-card">
                <img src="../../../assets/img/laptop.jpg" alt="Computador 2">
                <h2>Computador 2</h2>
                <label for="horario2">Selecciona un horario:</label>
                <select id="horario2">
                    <option value="6-8am">6-8am</option>
                    <option value="8-10am">8-10am</option>
                    <option value="10-12am">10-12am</option>
                    <option value="12-2pm">12-2pm</option>
                    <option value="2-4pm">2-4pm</option>
                    <option value="4-6pm">4-6pm</option>
                    <option value="6-8pm">6-8pm</option>
                    <option value="8-10pm">8-10pm</option>
                </select>
                <button name="submit" type="button" class="reserve-btn" onclick="window.location.href='/database-tables'">Apartar</button>
            </div>
            <div class="computer-card">
                <img src="../../../assets/img/laptop.jpg" alt="Computador 3">
                <h2>Computador 3</h2>
                <label for="horario3">Selecciona un horario:</label>
                <select id="horario3">
                    <option value="6-8am">6-8am</option>
                    <option value="8-10am">8-10am</option>
                    <option value="10-12am">10-12am</option>
                    <option value="12-2pm">12-2pm</option>
                    <option value="2-4pm">2-4pm</option>
                    <option value="4-6pm">4-6pm</option>
                    <option value="6-8pm">6-8pm</option>
                    <option value="8-10pm">8-10pm</option>
                </select>
                <button name="submit" type="button" class="reserve-btn" onclick="window.location.href='/database-tables'">Apartar</button>
            </div>
            <div class="computer-card">
                <img src="../../../assets/img/laptop.jpg" alt="Computador 4">
                <h2>Computador 4</h2>
                <label for="horario4">Selecciona un horario:</label>
                <select id="horario4">
                    <option value="6-8am">6-8am</option>
                    <option value="8-10am">8-10am</option>
                    <option value="10-12am">10-12am</option>
                    <option value="12-2pm">12-2pm</option>
                    <option value="2-4pm">2-4pm</option>
                    <option value="4-6pm">4-6pm</option>
                    <option value="6-8pm">6-8pm</option>
                    <option value="8-10pm">8-10pm</option>
                </select>
                <button name="submit" type="button" class="reserve-btn" onclick="window.location.href='/database-tables'">Apartar</button>
            </div>
            <div class="computer-card">
                <img src="../../../assets/img/laptop.jpg" alt="Computador 5">
                <h2>Computador 5</h2>
                <label for="horario5">Selecciona un horario:</label>
                <select id="horario5">
                    <option value="6-8am">6-8am</option>
                    <option value="8-10am">8-10am</option>
                    <option value="10-12am">10-12am</option>
                    <option value="12-2pm">12-2pm</option>
                    <option value="2-4pm">2-4pm</option>
                    <option value="4-6pm">4-6pm</option>
                    <option value="6-8pm">6-8pm</option>
                    <option value="8-10pm">8-10pm</option>
                </select>
                <button name="submit" type="button" class="reserve-btn" onclick="window.location.href='/database-tables'">Apartar</button>
            </div>
            <div class="computer-card">
                <img src="../../../assets/img/laptop.jpg" alt="Computador 6">
                <h2>Computador 6</h2>
                <label for="horario6">Selecciona un horario:</label>
                <select id="horario6">
                    <option value="6-8am">6-8am</option>
                    <option value="8-10am">8-10am</option>
                    <option value="10-12am">10-12am</option>
                    <option value="12-2pm">12-2pm</option>
                    <option value="2-4pm">2-4pm</option>
                    <option value="4-6pm">4-6pm</option>
                    <option value="6-8pm">6-8pm</option>
                    <option value="8-10pm">8-10pm</option>
                </select>
                <button name="submit" type="button" class="reserve-btn" onclick="window.location.href='/database-tables'">Apartar</button>
            </div>
        </div>
    </div>

<app-footer></app-footer>
